Package: lca
Version: 1.0.1
Section: base
Priority: optional
Architecture: arm64
Maintainer: casale.candoit@gmail.com
Description: LCA: An alternative to ls that computes file hashes, provides color-coded, user-friendly output, and supports configurable recursion depth.
